{% extends 'layout/base.html' %}

{% load static %}

{% block title %} CRUDify {% endblock %}

{% block content %}

<div class="p-4 rounded-2 shadow-sm border-2" style="width: 750px;">
    <h2 class="text-center fw-bold mb-3 fs-4">
        Projek
    </h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-primary" style="background-color: #3d5a71; color: white" data-bs-toggle="modal"
            data-bs-target="#projectModal">Tambah Projek</button>
        <input type="text" id="searchInput" class="form-control form-control-sm w-50" placeholder="Cari disini..."
            style="border-radius: 15px;">
    </div>

    <table class="table table-bordered">
        <thead>
            <tr class="text-center table-light">
                <th>Nama Projek</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.projectname }}</td>
                <td style="text-align: center;">
                    <a href="{% url 'detail_projek' project.pk %}" class="btn btn-sm btn-info"
                        style="background-color: #3d5a71; color: white">Details</a>
                    <a href="{% url 'edit_projek' project.pk %}" class="btn btn-sm btn-info"
                        style="background-color: #3d5a71; color: white">Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">
                    <p>list projek kosong</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.getElementById("searchInput").addEventListener("keyup", function () {
            let filter = this.value.toLowerCase();
            let rows = document.querySelectorAll("table tbody tr");

            rows.forEach(row => {
                let projectName = row.querySelector("td:first-child").textContent.toLowerCase();
                row.style.display = projectName.includes(filter) ? "" : "none";
            });
        });
    </script>
</div>
{% endblock %}