{% extends 'layout/base.html' %}

{% block title %} CRUDify | Register {% endblock %}

{% block content %}

<!-- {% block page_name %} Halo! Daftar untuk memulai {% endblock %} -->
 
<form method="post" novalidate>
    {% csrf_token %}
    
    {% for field in form %}
        <div class="mb-3">
            {{ field }}
        </div>
    {% endfor %}
    
    <button type="submit" class="form-submit btn btn-login w-100" style="background-color: #3d5a71; color: white">Daftar</button>
</form>

<div class="text-center mt-3">
    Sudah punya akun? <a href="{% url 'login' %}" class="text-primary text-decoration-none">Masuk sekarang</a>
</div>

{% endblock %}
